<a href="https://colab.research.google.com/github/Gabrielmarcial/Data-Marte/blob/main/Pandas_theatlastec.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# INTRODUÇÃO AO PANDAS : Umas das bibliotecas mais conhecidas em Data Science

Antes de falar do **Pandas** vamos entender um pouco do **Numpy** e a ligação entre essas duas bibliotecas ligação.
 
 
O Numpy é uma das bibliotecas mais importantes para a computação científica em  Python,que fornece armazenamento e manipulação eficiente de matrizes densas.
 
 
Numpy é um poderosa ferramenta para operações matemáticas com matrizes de N-dimensões que é a aplicação direta de álgebra linear para python. 
 
 
Essa ferramenta se mostra muito eficaz e rápida com dados limpos e organizados como em tarefas de computação numérica,mas se mostra deficiente quando trabalhamos com dados desorganizados e com valores ausentes.
 
 
Os dados que lidamos no dia a dia não vêm prontos e totalmente organizados,o que tratamos no mundo real são dados menos estruturados que estão disponíveis no mundo ao nosso redor e a biblioteca Pandas é a principal ferramenta para tratar esse tipo de dado.
 
 
 
 
O Pandas é um pacote construído sobre o Numpy e fornece uma implementação eficiente de um DataFrame.Um DataFrame são tabelas multidimensionais em que suas colunas têm nomes e podem conter dados diferentes e até ausentes.O Cientista de dados passa grande parte de seu tempo tratando com **dados munging** ou manipulação de dados,quando se deparamos no mundo real com uma base dados ela vem bruta,então não podemos simplesmente pegar esses dados e trabalhar direto com eles como por exemplo com um sistema de previsões.Então antes de realmente trabalharmos com os dados temos que tratar eles e limpa los, assim o Pandas se torna uma ferramenta extremamente poderosa e útil.

## instalação do pacote 
Dependendo do ambiente que você esteja usando devemos instalar o pacote do pandas,então caso esteja usando uma máquina local deve instalar com os seguintes comandos dependendo do gerenciador que esteja usando.

 `pip install pandas ` 
 
 ou 
 
` conda install pandas `

 Importando o Pacote Pandas

In [ ]:
# importar pandas 

import pandas as pd

 Para carregar uma base de dados usando pandas devemos dar o comando 

```
 pd.read_csv("local do arquivo.csv")
```
nesse caso estou lendo um arquivo csv da cotação do Bitcoin em relação ao Dola BTU-USD que peguei no [Yahoofinance ](https://https://finance.yahoo.com/quote/BTC-USD/history?p=BTC-USD) e salvei como df.
No "local_do_arquivo.csv" colocamos o caminho da base de dados que pode ser local ou na web.

In [ ]:
#carregar dados 

df = pd.read_csv("/content/BTC-USD.csv")

print(df)

           Date          Open  ...     Adj Close       Volume
0    2019-07-01  10796.930664  ...  10583.134766  29378589324
1    2019-07-02  10588.683594  ...  10801.677734  31015895222
2    2019-07-03  10818.156250  ...  11961.269531  30796494293
3    2019-07-04  11972.718750  ...  11215.437500  25920294033
4    2019-07-05  11203.102539  ...  10978.459961  23838480210
..          ...           ...  ...           ...          ...
362  2020-06-27   9167.824219  ...   9045.390625  17273093144
363  2020-06-28   9048.460938  ...   9143.582031  14560870760
364  2020-06-29   9140.029297  ...   9190.854492  16460547078
365  2020-06-30   9185.581055  ...   9137.993164  15735797743
366  2020-07-01   9157.814453  ...   9230.061523  15946769408

[367 rows x 7 columns]

## Visualizando os dados

Antes de começarmos a trabalhar com nossos dados primeiro temos que entender como eles estão se comportando e com oque estmaos trabalhando.

O primeiro comando que vamos trabalhar é ```df.head()``` nele conseguimos mostrar uma determinada numero de linhas,se executamos esse codigo, ele mostra as 5 primeiras linhas da base de dados.

In [ ]:
#Mostrar os 5 primeiros linhas de dados 
df.head()

         Date          Open  ...     Adj Close       Volume
0  2019-07-01  10796.930664  ...  10583.134766  29378589324
1  2019-07-02  10588.683594  ...  10801.677734  31015895222
2  2019-07-03  10818.156250  ...  11961.269531  30796494293
3  2019-07-04  11972.718750  ...  11215.437500  25920294033
4  2019-07-05  11203.102539  ...  10978.459961  23838480210

[5 rows x 7 columns]

In [ ]:
#Mostrar os 7 primeiras linhas dados 
df.head(7)

         Data        Máxima  ...  adjFechamento       Volume
0  2019-07-01  11206.439453  ...   10583.134766  29378589324
1  2019-07-02  10912.188477  ...   10801.677734  31015895222
2  2019-07-03  11968.078125  ...   11961.269531  30796494293
3  2019-07-04  12006.075195  ...   11215.437500  25920294033
4  2019-07-05  11395.661133  ...   10978.459961  23838480210
5  2019-07-06  11620.964844  ...   11208.550781  21092024306
6  2019-07-07  11541.620117  ...   11450.846680  19369044276

[7 rows x 6 columns]

Como vimos as primeiros valores e justo que mostremos como aparece os ultimos. Com o comando ```df.tail()``` ele mostra as 5 ultimas linhas da nossa base de dados,mas caso queira um número maior basta fazer como no exemplo acima e indicar a quantidade.

In [ ]:
# Mostrar os 5 ultimos 
df.tail()

           Date         Open  ...    Adj Close       Volume
362  2020-06-27  9167.824219  ...  9045.390625  17273093144
363  2020-06-28  9048.460938  ...  9143.582031  14560870760
364  2020-06-29  9140.029297  ...  9190.854492  16460547078
365  2020-06-30  9185.581055  ...  9137.993164  15735797743
366  2020-07-01  9157.814453  ...  9230.061523  15946769408

[5 rows x 7 columns]

O comando ```df.shape``` como o proprio nome diz,nos mostra a forma(shape) da nossa base de dados indicando o numero de linhas e colunas (linha,coluna).

In [ ]:
# mostrar o tamanho dos dados (linhas,colunas)
df.shape

(367, 7)

Outro comnando muito interessante é o ```df.columns``` ele nos mostra o nome das colunas da nossa base de dados.

In [ ]:
#mostrar os nomes das colunas 
df.columns

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume'], dtype='object')

Agora vamos mudar o nome das colunas caso queria, nesse caso só vou traduzir para melhorar a compreensão, para isso basta pegar o ```df.columns``` e igualar aos nomes escolhidos respeitando a ordem como no exemplo abaixo.

In [ ]:
#Mudar o nome das colunas 
df.columns = ['Data','Abertura','Máxima','Mínima','Fechamento','adjFechamento','Volume']

Agora que mudamos vamos ver se realmente o comando funcionou

In [ ]:
#mostrar os nomes das colunas 
df.columns

Index(['Data', 'Abertura', 'Máxima', 'Mínima', 'Fechamento', 'adjFechamento',
       'Volume'],
      dtype='object')

## Trabalhando com as colunas

O primeiro comando que vamos ver é para selecionarmos uma coluna especifica com o pandase o para isso basta executar o comando ```df["nome_da_coluna']```.

In [ ]:
#selecionar uma coluna 
df['Data']

0      2019-07-01
1      2019-07-02
2      2019-07-03
3      2019-07-04
4      2019-07-05
          ...
362    2020-06-27
363    2020-06-28
364    2020-06-29
365    2020-06-30
366    2020-07-01
Name: Data, Length: 367, dtype: object

Então com esse comando conseguimos ver todos os dados daquela coluna, mas vamos dizer que eu não queira todos os valores e sim um intervalor especifico.

In [ ]:
df['Data'][10:20]

10    2019-07-11
11    2019-07-12
12    2019-07-13
13    2019-07-14
14    2019-07-15
15    2019-07-16
16    2019-07-17
17    2019-07-18
18    2019-07-19
19    2019-07-20
Name: Data, dtype: object

Podemos usar o comando ```df.iloc[:,"numero_da_coluna"]```
com o iloc colocamos primeiro os ":" para selecionas todas as linhas e depois colocamos o numero da coluna que queremos trabalhar.

In [ ]:
# usando o iloc 
df.iloc[:,0]

0      2019-07-01
1      2019-07-02
2      2019-07-03
3      2019-07-04
4      2019-07-05
          ...
362    2020-06-27
363    2020-06-28
364    2020-06-29
365    2020-06-30
366    2020-07-01
Name: Data, Length: 367, dtype: object

caso queria selecionar uma lina em especifico de uma coluna basta colocar no lugar dos ":" anterior.

In [ ]:
df.iloc[0,0]

'2019-07-01'

Nesse caso selecionamos a primeira linha da primreira coluna (lembrando que a contagem na linguagem Python começa com 0).

Para retirarmos uma coluna basta usar o comando ```df.drop(columns=["nome_da_coluna])``` nele colocamos .drop e o nome da coluna que queremos retirar da base de dados,então primeiro vamos ver a base original.

In [ ]:
df.head()

         Data      Abertura  ...  adjFechamento       Volume
0  2019-07-01  10796.930664  ...   10583.134766  29378589324
1  2019-07-02  10588.683594  ...   10801.677734  31015895222
2  2019-07-03  10818.156250  ...   11961.269531  30796494293
3  2019-07-04  11972.718750  ...   11215.437500  25920294033
4  2019-07-05  11203.102539  ...   10978.459961  23838480210

[5 rows x 7 columns]

Agora com o comando,lembrando que temos que redefir a variavel que foi salva  a base de dados como no exemplo abaixo,para quando visualizarmos novamente a coluna não aparecerá.

In [ ]:
# RETIRAR A COLUNA
df = df.drop(columns=['Abertura']) 
df.head()

         Data        Máxima  ...  adjFechamento       Volume
0  2019-07-01  11206.439453  ...   10583.134766  29378589324
1  2019-07-02  10912.188477  ...   10801.677734  31015895222
2  2019-07-03  11968.078125  ...   11961.269531  30796494293
3  2019-07-04  12006.075195  ...   11215.437500  25920294033
4  2019-07-05  11395.661133  ...   10978.459961  23838480210

[5 rows x 6 columns]

Outro recurso muito utíl é o calculo de elementos estaticos que se torna muito util com a biblioteca Pandas.

Para calcular a média de uma coluna com Pandas basta usar o comando que foi falado para selecionar uma coluna ```df["nome_da_coluna"]```
 e colocar um complemanto para calcular a média 
```df["nome_da_coluna"].mean()```.

In [ ]:
# Calculando a média dos valores de fechamendo 
df['Fechamento'].mean()

8836.654677392371

Caso queria outra função estatistica como a mediana basta seguir a mesma logica so que nesse casso usamos ```.median()```

In [ ]:
df['Fechamento'].median()

8942.808594

Lembrando que o df que foi usado durante esse tutorial foi a base de dados que eu salvei como "df" no começo desse artigo.

Espero que tenha aproveitado bastante essa leitura e para mais informações sobre ferramentas da biblioteca Pandas ([CLIQUE AQUI ](https://https://pandas.pydata.org/)) e deixe seu comentario sobre o assunto e compartilhe conhecimento com a gente.